<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="GameUri" value="C:\Program Files (x86)\Rovio\Angry Birds\AngryBirds.exe"/>
    <add key="ElevationLevel" value="9"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
