<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Kinect.Semaphore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="log4net.Internal.Debug" value="true" />-->
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="BindableListener" type="Kinect.Common.BindableTraceListener,Kinect.Common" />
        <!--<add name="textWriterTraceListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="C:/temp/log4nettrace.txt" />-->
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <Kinect.Semaphore.Properties.Settings>
      <setting name="SemaphoreGamesFilePath" serializeAs="String">
        <value>./Games/Semaphore.txt</value>
      </setting>
    </Kinect.Semaphore.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>